@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.button{
    /* width: Hug (170px)px; */
    background-color: black;
    /* height: Hug (47px)px; */
    top: 13px;
    left: 1238px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 12px;
    border: 1px;
    /* opacity: 0px; */
    color:var(--primaryColor);
    /* font: Poppins; */
    font-family: 'Poppins';
    cursor:pointer; 
    /* font-size: 18px; */
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.25px;
    text-align: center;

}